/* 全局样式 */
body,
html,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-content {
    background: #fff;
    min-height: 95%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    padding: 20px;
}

.page-title {
    font-weight: 600;
}

.el-table td,
.el-table th.is-leaf {
    text-align: center;
}

.el-table th.is-leaf {
    background: #000;
    color: #fff;
}

.el-table--enable-row-transition .el-table__body td {
    text-align: center;
}