/* 全局样式 */
@import './global.scss';

$color-theme: '#00b793';

body,
html,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-content {
    background: #fff;
    min-height: 95%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    padding: 20px;
}

.page-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.select {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.select .title {
    font-size: 16px;
    margin-right: 8px;
    white-space: nowrap;
}

.el-table {
    border-radius: 8px;
}

.search {
    display: flex;
    margin-bottom: 10px;
}

.el-table td,
.el-table th.is-leaf {
    text-align: center;
}

.el-table th.is-leaf {
    background: #3A424F;
    color: #fff;
}

.el-table--enable-row-transition .el-table__body td {
    text-align: center;
}

.el-input-group--append .el-input__inner,
.el-input-group__prepend {
    width: 280px;
}

.el-button--primary {
    background-color: #00b793 !important;
    border-color: #00b793 !important;
}

.el-button--text {
    color: #00b793 !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #00b793 !important;
    color: #FFF;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #00b793 !important;
}

.pointer {
  cursor: pointer;
}