.bigger {
  position: absolute !important;
  top: 8px;
  left: 16px;
  z-index: 999;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  cursor: default !important;
}

.closeStyle {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 99999;
  i {
    font-size: 22px;
  }
}
