/* 全局样式 */
@import './global.less';

@color-theme:'#00b793';

body,
html,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-content {
    background: #fff;
    min-height: 95%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    padding: 20px;
}

.page-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.select {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.select .title {
    font-size: 16px;
    margin-right: 8px;
    white-space: nowrap;
}

.el-table {
    border-radius: 8px;
}

.search {
    display: flex;
    margin-bottom: 10px;
}

.el-table td,
.el-table th.is-leaf {
    text-align: center;
}

.el-table th.is-leaf {
    background: #3A424F;
    color: #fff;
}

.el-table--enable-row-transition .el-table__body td {
    text-align: center;
}

.el-input-group--append .el-input__inner,
.el-input-group__prepend {
    width: 280px;
}

.el-button--primary {
    background-color: @color-theme !important;
    border-color: @color-theme !important;
}

.el-button--text {
    color: @color-theme !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: @color-theme !important;
    color: #FFF;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: @color-theme !important;
}

.pointer {
  cursor: pointer;
}
.color-theme {
  color: @color-theme;
}



/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 8px; /*对垂直滚动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 3px;
}

/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px  #ddd;
  background-color: #ccc;
}

/* 光标移到滚动滑块上样式颜色变深 */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:active{
  background: #999;
}
/* 浏览器失焦的样式 */
::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
}